[[source]]
name = "pypi"
verify_ssl = true
url = "https://pypi.org/simple"

[packages]
gunicorn = "*"
Flask = "*"
numpy = "*"
tensorflow = "==1.13.0.dev20190104"
keras = "*"

[requires]
python_version = "3.7"

[dev-packages]

[scripts]
dev = 'python app.py'